{% extends 'base.html.twig' %}

{% block title %}Addresses index{% endblock %}

{% block body %}
    <h1>Addresses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in Addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>
                    <a href="{{ path('Addresses_show', {'id': address.id}) }}">show</a>
                    <a href="{{ path('Addresses_edit', {'id': address.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('Addresses_new') }}">Create new</a>
{% endblock %}
