{% extends 'base.html.twig' %}

{% block title %}Addresses{% endblock %}

{% block body %}
    <h1>Addresses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adress.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('Addresses_index') }}">back to list</a>

    <a href="{{ path('Addresses_edit', {'id': adress.id}) }}">edit</a>

    {{ include('Addresses/_delete_form.html.twig') }}
{% endblock %}
